<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>medical-status</title>
</head>
<body>
  <div class="container">
       <form>
        <div class="form-group">
            <label for="form-check-input">Have you experienced the following symptoms:</label>
            <div class="form-check">
                 <input class="form-check-input" type="checkbox" value="1" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                     Difficulty breathing
                </label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="2" id="defaultCheck2" >
                <label class="form-check-label" for="defaultCheck2">
                     Loss of taste,smell
                </label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="3" id="defaultCheck3" >
                <label class="form-check-label" for="defaultCheck2">
                    Fever
                </label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="4" id="defaultCheck4" >
                <label class="form-check-label" for="defaultCheck2">
                     Dry cough
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="form-check-input">When did you first start experiencing the symptoms:</label>
            <div class="form-check">
                 <input class="form-check-input" type="checkbox" value="1" id="1">
                <label class="form-check-label" for="defaultCheck1">
                     1-2 days
                </label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="2" id="2" >
                <label class="form-check-label" for="defaultCheck2">
                    2-4 days
                </label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="3" id="3" >
                <label class="form-check-label" for="defaultCheck2">
                    5-7 days
                </label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="4" id="4" >
                <label class="form-check-label" for="defaultCheck2">
                     1-2weeks
                </label>
            </div>
        </div>
   </form>
      <form>
          <div class="form-group">
              <label>
                  Have you been in contact with someone who has been exposed?
              </label>
              <div class="form-check">
                  <input class="form-check-input" type="radio" value="1">
                  <label class="form-check-label" for="defaultCheck1">
                      Yes
                  </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" value="2">
                  <label class="form-check-label" for="defaultCheck1">
                     No.
                  </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" value="3">
                  <label class="form-check-label" for="defaultCheck1">
                      Not Sure
                  </label>
              </div>
          </div>
      </form>
      <form>
          <div class="form-group">
              <label>
                  Mode of local transport:
              </label>
              <div class="form-check">
                  <input class="form-check-input" type="radio" value="1">
                  <label class="form-check-label" for="defaultCheck1">
                      Personal Car.
                  </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" value="2">
                  <label class="form-check-label" for="defaultCheck1">
                      Bike.
                  </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" value="3">
                  <label class="form-check-label" for="defaultCheck1">
                      Taxi
                  </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" value="4">
                  <label class="form-check-label" for="defaultCheck1">
                      Public transit
                  </label>
              </div>
          </div>
      </form>
      <form>
          <div class="hospitalized">
              <label>
                  Were you hospitalized:
              </label>
              <div class="form-check-yes">
                  <input class="form-check-input" type="radio" value="1">
                  <label class="form-check-label" for="defaultCheck1">
                      Yes
                  </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" value="2">
                  <label class="form-check-label" for="defaultCheck1">
                      No.
                  </label>
              </div>
          </div>
      </form>
      <form>
          <div class="form-group">
              <label>
                  Do you have any chronic medical condition?:
              </label>
              <div class="form-check">
                  <input class="form-check-input" type="radio" value="1">
                  <label class="form-check-label" for="defaultCheck1">
                      Asthma
                  </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" value="2">
                  <label class="form-check-label" for="defaultCheck1">
                      Tuberculosis
                  </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" value="2">
                  <label class="form-check-label" for="defaultCheck1">
                      Diabetes
                  </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" value="2">
                  <label class="form-check-label" for="defaultCheck1">
                      High blood-Pressure
                  </label>
              </div>
          </div>
      </form>
      <p>
          <div class="container">
                <button type="button" class="btn btn-secondary">
                    <a href=" ">Previous</a>
                </button>
                <button type="button" class="btn btn-secondary">
                    <a href="background-status.html">Next</a>
                </button>
          </div>
      </p>


  </div>

</body>
</html>